astroid==2.12.12
flake8==4.0.1
isort==5.10.1
jupyter==1.0.0
lazy-object-proxy==1.7.1
mccabe==0.6.1
pre-commit==2.17.0
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==2.12.2
scikit-image==0.19.1
toml==0.10.2
tomli==2.0.0
typing_extensions==4.0.1
virtualenv==20.13.0
wrapt==1.13.3
